.gapit-overlay {
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* Fallback color */
  background-color: rgba(3, 17, 27, 0.7);
  /* Black w/ opacity */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; 
  opacity: 0;
  visibility: hidden;
  transition: transform .18s, opacity .18s, visibility 0s .18s;
}

/* Modal Content/Box */
.gapit-content {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox*/
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  margin: 0 auto;
  /* 20px from the top and centered */
  padding: 0;
  max-width: 560px;
  max-height: 100vh;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; 
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* The Close Button */
.gapit-close {
  color: #cecece;
  font-size: 28px;
  line-height: 30px;
  font-weight: bold;
  position: absolute;
  cursor: pointer; 
  background-color: rgba(0, 0, 0, .3);
  height: 30px;
  width: 30px;
  right: 10px;
  top: 10px;
  z-index: 2;
  border-radius: 50%;
  opacity: 1;
  text-align: center;
  outline: none;
}

.gapit-close:hover {
  color: #ffffff; }

.gapit-close:focus {
  top: 1px;
  color: #ffffff; }

.gapit-iframe {
  border: 0;
  width: 100%;
  height: 100%; }

.gapit-fixed-body {
  margin-right: 17px;
  overflow: hidden; }

/* Styling for Small-Screen Devices */

.gapit-close svg {
  display: block;
  margin: auto;
  height: 30px;
  width: 14px;
  text-align: center;
  fill: #f3f3f3;
}
svg:not(:root) {
  overflow: hidden;
}